.borderLight {
  border-left-color: pink;
}

.cellName {
  width: calc(100% - 3px);
  text-align: center;
  max-height: fit-content;
  max-height: 30px;
  height: 30px;
  overflow: scroll;
}
.cellName::-webkit-scrollbar {
  display: none;
}

.catchBoard:hover {
  cursor: e-resize;
}

.catchBoard {
  height: 30px;
  /* margin-left: auto; */
  width: 3px;
  background-color: rebeccapurple;
}
