/* .tableHeaderCellContainer p {
  display: inline-block;
} */
.borderLight {
  border-left-color: pink;
}

.cellName {
  width: calc(100% - 3px);
  text-align: center;
  max-height: fit-content;
  max-height: 30px;
  height: 30px;
}

.catchBoard:hover {
  cursor: e-resize;
}

.catchBoard {
  height: 30px;
  /* margin-left: auto; */
  width: 3px;
  background-color: rebeccapurple;
}
