@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  .littleSctoll::-webkit-scrollbar {
    width: 0.2rem;
  }

  /* Track */
  .littleSctoll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .littleSctoll::-webkit-scrollbar-thumb {
    @apply bg-blue-900;
  }

  /* Handle on hover */
  .littleSctoll::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-600;
  }
}
