.tableColor div:nth-child(2n + 1) {
  background-color: rgb(192, 209, 255);
  word-break: keep-all;
}

.tableContainer {
  /* height: 100%; */
  height: calc(100vh - 4.2rem) !important;
}

.custom-table {
  table-layout: fixed;
}
